
.user-cond-heading {
    background: #6A7F2E;
}

.lake-cond-heading {
    background: #D9A63A;
}

.browse-cond-heading {
    background: #E96A24;
}

.submit-btn:active {
    background: gray;
}

.lake-cond-cont {
    border: black solid 1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 4fr;
}

.lake-name, .lake-cond-result {
    border: black solid 1px;
}

.lake-cond-result {
    grid-column-start: span 3;
    display: none;
}
