
.lake-cond-heading {
    background: #6A7F2E;
    border-radius: 5px;
    padding: 5px;
}

.user-cond-heading {
    background: #D9A63A;
}

.browse-cond-heading {
    background: #F09666;
}

.submit-btn:active {
    background: gray;
}

.lake-cond-cont {
    border: black solid 1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 4fr;
}

.lake-name, .lake-cond-result {
    border: black solid 1px;
}

.lake-cond-result {
    grid-column-start: span 3;
    display: none;
}

.lake-btn {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: auto;
}

.lake1, .lake4 {
    background: #A3C153;
}

.lake2, .lake5 {
    background: #E5C276;
}

.lake3, .lake6 {
    background: #F4B390;
}


.req-form-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
