
header {
    height: 250px;
}

.cat-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.cat-sect {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 90px;
    height: 70px;
    justify-items: center;
    align-content: center;
}

.btn-contents {
    display: none;
}

.fish-ref-btn, .tackle-ref-btn, .weather-ref-btn {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 10px;
    color: #1E2A1F;
}

.fish-ref-btn {
    background: #A3C153;
    border-bottom-right-radius: 0px;
}

.fish-ref-btn:active {
    background: #6A7F2E;
}

.tackle-ref-btn {
    background: #E5C276;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tackle-ref-btn:active {
    background: #D9A63A;
}

.weather-ref-btn {
    background: #F4B390;
    border-bottom-left-radius: 0px;
}    

.weather-ref-btn:active {
    background: #F09666;
}

.clear-button {
    justify-content: left;
    align-content: end;
}

.fish-card {
    border-radius: 5px;
    background: oldlace;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cat-para {
    background: oldlace;
    border-radius: 5px;
    margin: 0px;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    h1 {
        font-size: 2.75em;
        margin: 10px;
    }
    
    .cat-tabs {
        justify-content: center;
    }

    .cat-sect {
        width: 30%;
        padding: 0px;
        height: 70px;
    }

    .ref-btn {
        height: 100%;
    }
}

@media screen and (min-width: 769px) {
    h1 {
        font-size: 3.5em;
        margin: 0px;
    }

    .catalogue-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .cat-tabs {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cat-sect {
        width: 61.8vw;
        padding: 0px;
    }

    .fish-card {
        border-radius: 10px;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .btn-contents {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .cat-contents {
        display: none;
    }

    .cat-para {
        grid-column: span 3;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
    }

    .ref-btn {
        border-radius: 15px;
        height: 100%;
    }
}
