/* 6A7F2E forest moss*/
/* D9A63A goldenrod*/
/* E96A24 autumn leaf*/
/* E8D9BA pearl beige*/
/* 1E2A1F charcoal brown*/

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}



/* Heading fonts */
h1, h2 {
    font-family: "Gloria Hallelujah", "Patrick Hand", Candara, sans-serif; 
    font-weight: 800;
}

h3, h4, h5, h6 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Body text */
body, p, li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* UI elements */
nav, button, input {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
} 

html {
    display: flex;
    justify-content: center;
    align-content: center;
}

body {
    background: #E8D9BA;
    color: #1E2A1F;
    width: 96dvw;
    min-height: 98dvh;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
}

header {
    border: black solid 2px;
    border-radius: 10px;
    background: #E96A24;
    flex-grow: 0.5;
    justify-content: center;
    justify-items: center;
}

h2 {
    text-wrap: balance;
    text-align: center;
}

main {
    border: black solid 1px;
    flex-grow: 5;
}

button {
    justify-content: center;
    justify-items: center;
    align-items: center;
}

footer {
    height: 10dvh;
    border: black solid 1px;
    border-radius: 10px;
    background: #D9A63A;
    flex-grow: 0.5;
    /* position: fixed; */
    align-self: center;
    bottom: 0;
}

.nav-link {
    padding: 5px;
    margin: 5px;
}

.cat-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    padding: 5px;
    padding-bottom: 0px;
    border: black solid 1px;
    margin-bottom: 0px;
}

.cat-sect {
    list-style-type: none;
    border: black solid 1px;
    padding: 0px;
    width: 90px;
    justify-items: center;
    align-content: center;
}

.cat-contents {
    border: black solid 1px;
}

.fish-ref-btn, .tackle-ref-btn, .weather-ref-btn {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #1E2A1F;
}

.fish-ref-btn {
    background: #6A7F2E;
}

.tackle-ref-btn {
    background: #D9A63A;
}

.weather-ref-btn {
    background: #E96A24;
}

.fish-ref-btn:active {
    background: #4F5F22;
}

.tackle-ref-btn:active {
    background: #A27C2B;
}

.weather-ref-btn:active {
    background: #AE4F1B;
}

.fish-card {
    border: black 1px solid;
    border-radius: 5px;
    background: oldlace;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cat-para {
    background: oldlace;
    border-radius: 5px;
    margin: 0px;
    padding: 5px;
}
