/* 6A7F2E forest moss*/
/* D9A63A goldenrod*/
/* E96A24 autumn leaf*/
/* E8D9BA pearl beige*/
/* 1E2A1F charcoal brown*/

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Heading fonts */
h1, h2 {
    font-family: "Gloria Hallelujah", "Patrick Hand", Candara, sans-serif; 
    font-weight: 800;
    text-align: center;
}

h3, h4, h5, h6 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Body text */
body, p, li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* UI elements */
nav, button, input {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
} 

html {
    display: flex;
    justify-content: center;
    align-content: center;
}

header {
    border: black solid 2px;
    border-radius: 10px;
    background: #E96A24;
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

body {
    background: #E8D9BA;
    color: #1E2A1F;
    width: 96dvw;
    min-height: 98dvh;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
}

h2 {
    text-wrap: balance;
    text-align: center;
    margin: 0px;
}

main {
    border: black solid 1px;
    flex-grow: 5;
    padding: 10px;
}

button {
    justify-content: center;
    justify-items: center;
    align-items: center;
}

footer {
    height: 10dvh;
    width: 100%;
    border: black solid 1px;
    border-radius: 10px;
    background: #D9A63A;
    flex-grow: 0.5;
    align-self: center;
    bottom: 0;
}

.nav-link {
    padding: 5px;
    margin: 5px;

}

.cond-check-sect {
    background: #6A7F2E;
}

.fish-ref-sect {
    background: #D9A63A;
}

.fish-seasons-sect {
    background: #E96A24;
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    h1 {
        font-size: 2.75em;
        margin: 10px;
    }
    
    .cat-tabs {
        display: flex;
        justify-content: center;
    }

    .cat-sect {
        width: 30%;
    }

    .fish-ref-btn, .tackle-ref-btn, .weather-ref-btn {
        flex-grow: 1;
        align-self: stretch;
    }
}

/* @media screen and (min-width: 767px) {

} */
