/* 6A7F2E forest moss*/
/* D9A63A goldenrod*/
/* E96A24 autumn leaf*/
/* E8D9BA pearl beige*/
/* 1E2A1F charcoal brown*/

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Heading fonts */
h1, h2 {
    font-family: "Gloria Hallelujah", "Patrick Hand", Candara, sans-serif; 
    font-weight: 800;
    text-align: center;
}

h3, h4, h5, h6 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Body text */
body, p, li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* UI elements */
nav, button, input {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
} 

header {
    border-radius: 10px;
    background: #E96A24;
    border: solid 3px #F4B390;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

body {
    background: #E8D9BA;
    color: #1E2A1F;
    width: 96dvw;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    text-wrap: balance;
    text-align: center;
    margin: 0px;
}

main {
    flex: 1;
    padding: 10px;
}

button {
    justify-content: center;
    justify-items: center;
    align-items: center;
}

footer {
    height: 110px;
    width: 100%;
    border-radius: 10px;
    border: solid 3px #E5C276;
    background: #D9A63A;
    flex-shrink: 0;
    bottom: 0;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
}

.index-h3 {
    justify-items: center;
}

.nav-link {
    padding: 5px;
    margin: 5px;
}

.page-nav-link {
    padding: 5px;
    margin: 5px;
    justify-items: center;
    font-size: 1.5em;
    display: block;
    text-align: center;
}

.cond-check-sect {
    background: #6A7F2E;
    border: solid 3px #A3C153;
    width: 61.8%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    justify-self: center;
}

.fish-ref-sect {
    background: #D9A63A;
    border: solid 3px #E5C276;
    width: 61.8%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    justify-self: center;
}

.fish-seasons-sect {
    background: #E96A24;
    border: solid 3px #F4B390;
    width: 61.8%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    justify-self: center;
}

.req-form-cont {
    display: flex;
    height: 110px;
    margin-top: 20px;
    flex-direction: column;
    align-content: center;
    background: #D9A63A;
    border-radius: 10px;
}

.req-desc {
    width: 90dvw;
}

